<!doctype html>
<html lang="en">
    
    <head>
        <meta name="viewport" content="width=device-width, height=device-height">
        <title>BrassPlate</title>
        <link href="assets/css/flatstrap.css" rel="stylesheet">
        <link href="assets/js/components/typeahead/dist/typeahead.css" rel="stylesheet">
        <link href="assets/css/typeaheadExtras.css" rel="stylesheet">
        <link href="assets/css/app/main.css" rel="stylesheet">
        <link href="assets/css/app/Ingredients.css" rel="stylesheet">
        <!-- Load the script "js/main.js" as our entry point
        -->
        <script data-main="entryPoint" src="assets/js/components/requirejs/require.js"></script>
    </head>
    
    <body>
        <div class="row-fluid" id="wrapper">
            <div class="span10" id="wrapper-left">
                <div class="row-fluid" id="header">
                    
                </div>
                <div class="row-fluid">
                    <div class="span11 offset1" id="content"></div>
                </div>
                <div class="row-fluid" id="footer">
                    
                </div>
            </div>
            <div class="span2" id="sidebar">
                
            </div>
        </div>
    </body>

</html>