<!DOCTYPE html>
<html>
    
    <head>
        <div style='display:none'>
            <input type='hidden' name='csrfmiddlewaretoken' value='nnISCy0otML4KzNkX6E0aKQHpXO7UW5E'
            />
        </div>
        <title>The Brass Plate</title>
        <link rel="stylesheet" href="stylesheets/Bootstrap/css/bootstrap.css">
        <link rel='stylesheet' href="stylesheets/Main/main2.css" type='text/css'>
    </head>
    
    <body>
        <div id='wrapper_body'>
            <div id='wrapper'>
                <div id='wrapper_inner'></div>
            </div>
            <!-- #wrapper -->
            <div id='sidebar'></div>
            <!-- #sidebar -->
            <div class='clearfloats'></div>
            <div id='footer'>
            </div>
            <div id='hiddenstuff'>
                
            </div>
            <!-- #hiddenstuff -->
        </div>
        <script data-main='RequireMainIngredientCalculator.js' src='requirejs/require.js'></script>
    </body>

</html>
